body{
    background-color: antiquewhite;
}

section{
    background-color: aqua;
    padding: 3px;
}

article{
    background-color: blueviolet;
}

#primerparrafo{
    color: crimson;
}

.tercerparrafo{
    color:rgb(187, 115, 8);
}