body{
    background-color: antiquewhite;
    width: 96%;
}

section{
    background-color: aqua;
    padding: 3px;
}

article{
    background-color: blueviolet;
    width: 66%;
}
nav{
    background-color: beige;
}

aside{
    background-color: chocolate;
    width: 30%;
}
img{
    size:30%
}

#primerparrafo{
    color: crimson;
}

.tercerparrafo{
    color:rgb(187, 115, 8);
}