<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="app">
        <h1>{{ mensaje }}</h1>
    </div>
    <div id="app-2">
        <span v-bind:title="message">
          Mueva el mouse sobre mí durante unos segundos
          para ver mi título enlazado dinámicamente.
        </span>
      </div>
       

      <h3>Diferencia entre v-if y show</h3>
      <div id="app-3">
        <span v-if="seen">Ahora me ves v-if</span>
        <br>
        <span v-show="seen">Ahora me ves v-show</span>
      </div>

      <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Mensaje invertido</button>
      </div>

      <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
      </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="reactivo3.js"></script>
</body>
</html>
