body{
    background-color: antiquewhite;
    width: 96%;
}

section{
    background-color: aqua;
    padding: 3px;
    float: left;
}

article{
    background-color: blueviolet;
    width: 66%;
}
nav{
    background-color: beige;
}

aside{
    background-color: chocolate;
    width: 30%;
    float: right;
}
img{
    size: 15%;
    border-radius: 50%;
}

footer{
    clear: both;
}

#primerparrafo{
    color: crimson;
}

.tercerparrafo{
    color:rgb(187, 115, 8);
}